$menu_background: #262625 !default;
$selection_active: #73ff8d !default;

$menubar_background: #fff !default;
$menubar_color: #222 !default;
$menubar_active_color: #008a00 !default;
$menubar_hover_color: #efefef !default;
$menubar_border_color: #ddd !default;
$menubar_divider_color: #ddd !default;

